extends ../base.jade
				//append scripts
					script(src="/js/controllers.js")
					script(src="/js/services.js")
block content
	h3 Tipos de acompanhamento (#acomp)
	.table-responsive
				//		table.table.table-striped.table-condensed(ng-controller="ctrlCatAcomp")
		table.table.table-striped.table-condensed
			thead
				tr
					th id
					th alias
			tbody
								//tr(ng-repeat="acomp in data.acomps")
									td {{acomp.id}}
									td {{acomp.alias}}
				each categoria in categorias
					if categoria.tipo=="acomp"
						tr
							td #{acomp.id}
							td #{acomp.alias}